<center><h1><%= @game.current_player.name %> HIT <%= @game.opponent_of(@game.current_player).name %></h1></center>

<center><h2><%= @game.opponent_of(@game.current_player).name %>: <%= @game.opponent_of(@game.current_player).hit_points %>HP</h2></center>

<center>
  <form action="/switch" method="post">
    <input type="submit" value="OK">
  </form>
</center>
