
<h1 align="center">COME AHHN KILL MEE! DO IT NAUUHH!</h1>
<center><img src="http://basementrejects.com/wp-content/uploads/2012/06/predator-1987-dutch-arnold-schwarzenegger-review.jpg"></center>

<h2 align="center">-- ENTER YOUR FIGHTERS --</h2>

<center><form action="/names" method="post">
  <input type="text" name="player_1_name">
  <input type="text" name="player_2_name">
  <input type="submit" value="Submit">
</form></center>
